*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
}
.fotoRoot{
    background-color: white;
}
.input-group{
    width: 300px;
    
}

.visitors{
    list-style: none;
    margin: 10px;
}
article{
    display: flex;
    justify-content: center;
}

h2{

    margin: 0.3em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: black;

}
.card{
    
    padding: 0.3em;
}

.card img, .mcard-body__h5,.card-title{
    cursor: pointer;
}
.mcard-body__h5:hover{
    color: brown;

}
.d-grid {
    margin: 0.3em;
}


.card button{
    font-size: 1.2em;
}

footer .bi:hover{
    text-decoration: underline;
}


.mcard-container{
    padding:1em;
    border-bottom: 3px solid aliceblue;
    display: flex;

    background-color: white;
}
.mcard-img{

    height: 100px;
    width: 100px;
}

.mcard-body{
    margin: 0 1em;
}
#carroModal button a{
    text-decoration: none;
}


.red {
    color: red;
}
.mcard-body__p{
    font-size: 1.3em;
}
.perfil-photo{
    height: 170px;
}
.aside-items{
    cursor: pointer;
}
.precio-detalle{
    text-align: center;
    color: red;
    font-size: 2em;
}
.green-detalle{
    color: green;
}


.carrito-cards img{
    max-width: 150px;
    max-height: 150px;
}
@media screen and (max-width: 768px){
    
    .aside{
        display: none;
    }

    .perfil-photo{
        display: none;
    }
}



@media screen and (max-width: 575px){
    .card{
        width: 100%;
    }
}